@font-face {
  font-family: primary-font;
  src: url(/public/BetmSemiBold.otf);
}

@font-face {
  font-family: secondary-font;
  src: url(/public/BetmLight.otf)
}

.nav {
  font-family: secondary-font;
}

.language {
  font-family: primary-font;
}

.logo {
  margin: 1rem 3rem;
}

.title {
  font-family: primary-font;
}

/* @media (max-width: 640px) {

  .me-4 {
    text-align: center;
    
  }

  .language {
    text-align: center;
    width: 30%;
  }

  .subtitle {
    font-size: 15px;

  }
} */